{% extends 'base.html' %}

{% block header %}
<section class="hero is-medium is-primary">
    <div class="hero-body">
        <div class="container">
            <h1 class="title" />
            Player Comparison Tool
            </h1>
            <h2 class="subtitle">
                Please select the players you would like to compare:
            </h2>
            <form autocomplete="off" class="compare-form" action="/">
                <div class="field">
                    <div class="control">
                        <div class="columns">
                            <div class="column">
                                <div class="select">
                                    <select id="first-player-select" class="player-select">
                                        {% for player in players %}
                                        <!-- use Salah as our default player:-->
                                        <option {% if player.code == 118748 %} selected="selected" {% endif %}
                                            value="{{ loop.index - 1 }}">
                                            {{ player.name }}
                                        </option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="column">
                                <div class="select">
                                    <select id="second-player-select" class="player-select">
                                        {% for player in players %}
                                        <!-- Use Mane as our default player:-->
                                        <option {% if player.code == 110979 %} selected="selected" {% endif %}
                                            value="{{ loop.index - 1 }}">
                                            {{ player.name }}
                                        </option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="field">
                    <div class="control">
                        <button class="button is-success">Compare!</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>
{% endblock %}

{% block content %}
<section class="section options">
    <div class="container">
        <nav class="level">
            <div class="level-left">
                <div class="level-item">
                    <div class="buttons has-addons">
                        <span class="chart-toggle button is-success is-selected" data-value="bar">Bar</span>
                        <span class="chart-toggle button" data-value="radar">Radar</span>
                    </div>
                </div>
                <div class="level-right"></div>
            </div>
    </div>
</section>
<section class="section charts">
    <div class="container">
        <div class="columns">
            <div class="column is-8">
                <div class="card chart-card">
                    <div class="card-content">
                            <canvas id="chart" width="80%" height="80%"></canvas>
                    </div>
                </div>
            </div>
            <div class="column is-4 has-vertically-aligned-content">
                <div class="card stats-card">
                    <div class="card-content">
                        <div class="table-container">
                            <table class="table comparison-table is-fullwidth">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th id="player1-th"></th>
                                        <th id="player2-th"></th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="modal" id="about-modal">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">What is this?</p>
      <button class="delete modal-dismiss" aria-label="close"></button>
    </header>
    <section class="modal-card-body">
      <p>The Player Comparison Tool can instantly generate a comparison between
      any two players, making those all important draft decisions easier for fantasy
      managers everywhere!</p>

      <p>To use the tool, simply select the two players you would like to compare using
      the dropdowns, press the 'compare' button and the tool will do its magic!</p>

      <p>Most metrics on the charts are shown on either a per min or per 90 basis. This makes
      it easier to compare players who have played a varying degree of minutes. The charts are ranked
      in percentiles, but the actual values for each players metrics can be viewed by hovering over the
      chart, and some summary information is displayed in the table. Enjoy!</p>
    </section>
    <footer class="modal-card-foot">
      <button class="modal-dismiss button">Close</button>
    </footer>
  </div>
</div>

<script type="text/javascript" src="{{ url_for('static', filename='js/metrics.js') }}"></script>
<script type="text/javascript">
    let players = JSON.parse('{{players|tojson|safe}}');
    let staticPath = "{{ url_for('static', filename='') }}";
    let negativeMetrics = ['goals_conceded', 'goals_conc_per_90', 'yellow_cards', 'red_cards'];

    let ctx = $('#chart');
    let chart;
    let chartType = 'bar';

    $(document).ready(function () {
        $('.player-select').select2();

        let chartMetrics = getAllChartMetrics();

        for (let i = 0; i < chartMetrics.length; i++) {
            let key = chartMetrics[i];

            // Used to normalize the values for this key
            let playerValues = [];

            // Only push players who have played a significant amount of minutes
            // to the array used to normalize the values (this avoids outliers)
            $.each(players, function (playerKey, player) {
                if (player['minutes'] > 60) {
                    playerValues.push(parseFloat(player[key]))
                }
            });

            // Second pass to normalize the values:
            $.each(players, function (playerKey, player) {
                let reverseScale =  _.contains(negativeMetrics, key);

                let normalizedVal = normalizeData(player[key], playerValues, reverseScale);
                player[key + '_normalized'] = normalizedVal;
            });
        }

        updateUi();
    });
    
    $('.compare-form').on('submit', function(e) {
        e.preventDefault();
        updateUi();
        $([document.documentElement, document.body]).animate({
            scrollTop: $("section.options").offset().top
        }, 1000);
    });

    $('.chart-toggle').on('click', function () {
        // If this is already selected, do nothing:
        if ($(this).hasClass('is-selected')) {
            return;
        }

        // Toggle the classes on the buttons:
        $('.chart-toggle').removeClass('is-selected is-success');
        $(this).addClass('is-selected is-success');

        // Get the value of this button
        chartType = $(this).data('value');

        // Update the UI:
        updateUi();
    });

    /**
     * Normalize a value in an array of values. This works
     * by finding the min and max values in the array, then
     * scaling the current value accordingly.
     *
     * TODO: reverse if it is a metric like goals conceded
     * or goals conc per 90 (so players who concede less score better)
     *
     * TODO: we only need to apply the min minutes played restriction for metrics
     * which are per 90 or per min
     * 
     * @param val: the current value to be normalized
     * @param arr: the array of all values
     */
    function normalizeData(val, arr, reverseScale = false) {
        let maxVal = _.max(arr);
        let minVal = _.min(arr);

        let normalizedVal = (val == 0) ? 0 : ((val - minVal) / (maxVal - minVal)).toFixed(2);
    
        normalizedVal = Math.min(Math.max(parseFloat(normalizedVal), 0), 1);

        if (reverseScale) {
            return 1 - normalizedVal;
        } else {
            return normalizedVal;
        }
    }

    function getAllChartMetrics() {
        let chartMetrics = [];

        for (key in templates) {
            chartMetrics = _.union(chartMetrics, templates[key].map(a => a.key), tableMetrics.map(a => a.key));
        }

        return chartMetrics;
    }

    function getChartMetricsToUse(player1, player2) {
        if (player1['position'] == 'GKP' && player2['position'] == 'GKP') {
            return templates['goalkeeper'];
        } else if (player1['position'] == 'DEF' && player2['position'] == 'DEF') {
            return templates['defender'];
        } else if (player1['position'] == 'MID' && player2['position'] == 'MID') {
            return templates['midfielder']
        } else if (player1['position'] == 'FWD' && player2['position'] == 'FWD') {
            return templates['forward'];
        } else {
            return templates['generic'];
        }
    }

    function drawTable(player1, player2) {
        // First, draw the table head:
        let tbody = $('.comparison-table').find('tbody');

        $('#player1-th').text(player1['second_name']);
        $('#player2-th').text(player2['second_name']);

        tbody.empty();

        for (let i = 0; i < tableMetrics.length; i++) {
            let key = tableMetrics[i]['key'];
            let name = tableMetrics[i]['name'];

            let append_str = '';

            let displayVal1 = player1[key];
            let displayVal2 = player2[key];

            if (key == 'now_cost') {
                displayVal1 = displayVal1.toFixed(1);
                displayVal2 = displayVal2.toFixed(1);
            }

            append_str = '<td class="' + getTableClass(player1[key + '_normalized']) + '">' + displayVal1 + '</td>' +
                '<td class="' + getTableClass(player2[key + '_normalized']) + '">' + displayVal2 + '</td>';

            tbody.append('<tr>').append('<td>' + name + '</td>' + append_str);
        }
    }

    function getTableClass(val) {
        if (val < 0.2) return 'is-worst';
        else if (val >= 0.2 && val < 0.4) return 'is-bad';
        else if (val >= 0.4 && val < 0.6) return 'is-okay';
        else if (val >= 0.6 && val < 0.8) return 'is-good';
        else return 'is-best';
    }

    function updateUi() {
        // Redraw the chart:
        let v1 = $('#first-player-select').val();
        let v2 = $('#second-player-select').val();

        drawTable(players[v1], players[v2]);
        redrawChart(players[v1], players[v2], chartType);
    }

    function redrawChart(player1, player2, chartType) {
        if (!_.contains(['radar', 'bar'], chartType)) {
            console.log('Chart type not expected value "radar" or "bar"');
            return false;
        }

        // Redraw the chart:
        updateChart(player1, player2, chartType);
    }

    function updateChart(player1, player2, chartType = 'radar') {
        let chartMetrics = getChartMetricsToUse(player1, player2);

        // real values:
        let playerOneValues = [];
        let playerTwoValues = [];

        // normalized values:
        let nPlayerOneValues = [];
        let nPlayerTwoValues = [];

        let labels = [];

        for (let i = 0; i < chartMetrics.length; i++) {
            let key = chartMetrics[i]['key'];
            let name = chartMetrics[i]['name'];

            let v1 = player1[key];
            let v2 = player2[key];

            let nv1 = player1[key + '_normalized'];
            let nv2 = player2[key + '_normalized'];

            playerOneValues.push(v1);
            playerTwoValues.push(v2);
            nPlayerOneValues.push(nv1);
            nPlayerTwoValues.push(nv2);
            labels.push(name);
        }

        let data = {
            labels: labels,
            datasets: [{
                    label: player1['second_name'],
                    backgroundColor: "rgba(56, 0, 60, 0.2)",
                    data: nPlayerOneValues
                },
                {
                    label: player2['second_name'],
                    backgroundColor: "rgba(233, 0, 82, 0.2)",
                    data: nPlayerTwoValues
                }
            ]
        };

        // destroy the existing chart
        destroyChart();

        if (chartType === 'radar') {
            drawRadarChart(data, player1, player2, playerOneValues, playerTwoValues);
        } else if (chartType === 'bar') {
            drawBarChart(data, player1, player2, playerOneValues, playerTwoValues);
        }
    }

    function destroyChart() {
        if (typeof chart == 'undefined') {
            return;
        }

        chart.clear();
        chart.destroy();
    }

    function drawBarChart(data, player1, player2, playerOneValues, playerTwoValues) {
        chart = new Chart(ctx, {
            type: 'horizontalBar',
            data: data,
            options: {
                tooltips: {
                    callbacks: {
                        label: function (tooltipItem, data) {
                            let val = ''

                            if (data.datasets[tooltipItem.datasetIndex].label === player1['second_name']) {
                                val = playerOneValues[tooltipItem.index];
                            } else {
                                val = playerTwoValues[tooltipItem.index];
                            }

                            return data.datasets[tooltipItem.datasetIndex].label + ' : ' + val;
                        }
                    }
                }
            }
        });
    }

    function drawRadarChart(data, player1, player2, playerOneValues, playerTwoValues) {
        chart = new Chart(ctx, {
            type: 'radar',
            data: data,
            options: {
                scale: {
                    ticks: {
                        beginAtZero: true,
                        min: 0,
                        step: 0.2,
                        max: 1
                    }
                },
                tooltips: {
                    callbacks: {
                        label: function (tooltipItem, data) {
                            let val = ''

                            if (data.datasets[tooltipItem.datasetIndex].label === player1['second_name']) {
                                val = playerOneValues[tooltipItem.index];
                            } else {
                                val = playerTwoValues[tooltipItem.index];
                            }

                            return data.datasets[tooltipItem.datasetIndex].label + ' : ' + val;
                        }
                    }
                }
            }
        });
    }
</script>
{% endblock %}