{% extends 'fpl/base.html' %}

{% block content %}
    <h1>{{ player }}</h1>

    {% if error_message %}
        <p><strong>{{ error_message }}</strong></p>
    {% endif %}

    {# Example Form (not currently used) #}
    {#<form action="{% url 'fpl:update' player.id %}" method="post">#}
    {#    {% csrf_token %}#}
    {##}
    {#    {% for player in players_list.all %}#}
    {#        <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">#}
    {#        <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br>#}
    {#    {% endfor %}#}
    {#    <input type="submit" value="Submit">#}
    {#</form>#}
{% endblock %}